.container {
    display: flex;
}

.profileInformation {
    display: flex;
    flex-direction: column;
}

.profileDescription {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}