.app-wrapper {
  background-color: darkgrey;
  width: 1200px;
  margin: 0 auto;

  display: grid;


  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  height: 100vh;
}

.header {
  grid-area: h;
  background-color: white;
}

.header img {
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: white;
}

.content {
  grid-area: c;
  background-color: white;
}